[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "splus2R"]
	path = splus2R
	url = https://github.com/spkaluzny/splus2r
[submodule "splusTimeDate"]
	path = splusTimeDate
	url = https://github.com/spkaluzny/splustimedate
[submodule "splusTimeSeries"]
	path = splusTimeSeries
	url = https://github.com/spkaluzny/splustimeseries
